$colors: (
  bgcolor: #272727,
  primary: #0a2463,
  secondary: #3e92cc,
  accent: #ee537a,
  contrast: #eff1f3,
  darkcontrast: #1e1b18
);

$primaryfont: "Merriweather", serif;
$secondaryfont: "Lato", sans-serif;

body {
  font-size: 24px;
  background-color: map-get($colors, bgcolor);
  padding: 0px;
  margin: 0px;
}
main {
  min-height: 80vh;
  margin: 5vh 0;
}

.info {
  background-color: map-get($colors, contrast);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;

  &__name {
    margin: 0 15px;
  }
}

.name {
  &__name {
    margin: 5px 5px;
    color: map-get($colors, primary);
    font-size: 1.3em;
    margin-top: 15px;
    font-family: $primaryfont;
  }
  &__title {
    color: map-get($colors, secondary);
    font-size: 0.8em;
    margin: 5px 5px;
    margin-bottom: 15px;
    font-family: $secondaryfont;
  }
}

.info__links {
  margin-left: auto;
  height: auto;
  display: flex;
  align-self: center;
}

.links {
  &__github img {
    width: 50px;
    margin: 0px 5px;
  }
  &__linkedin img {
    width: 50px;
    margin: 0px 5px;
  }
}

.skills {
  background-color: map-get($colors, accent);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 3vw;
  margin-right: 3vw;

  &__title {
    padding: 15px 15px;
    color: map-get($colors, darkcontrast);
    font-family: $primaryfont;
    h2 {
      font-size: 1.6em;
    }
  }
}

.skills__projects {
  p {
    font-family: $secondaryfont;
    color: map-get($colors, darkcontrast);
  }
}

.projects__project {
  margin: 25px 0;
  display: flex;
}

.project {
  &__screenshot {
    flex-grow: 1;
    .screenshot__image {
      display: block;
      width: 40vw;
      margin: 0 auto;
    }
  }
  &__about {
    flex-grow: 1;
    margin: auto 0;
    .about__name {
      margin-bottom: 10px;
      font-size: 1.2em;
      text-align: center;
    }
    .about__buttons {
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
    }
    .about__buttons a {
      width: 70px;
      border-radius: 5px;
      padding: 5px 10px;
      text-align: center;
      color: map-get($colors, contrast);
      text-decoration: none;
      background-color: map-get($colors, primary);
    }
  }
}

.footer {
  display: none;
  //15vh total
  margin-top: 3vh;
  height: 12vh;
  width: 100%;
  background-color: map-get($colors, contrast);
  & p {
    font-size: 0.8em;
    font-family: $primaryfont;
    padding: 5px;
    color: map-get($colors, darkcontrast);
  }
}
