@import "../App.scss";
$maincolor: #4ae444;
$seccolor: #3fc83a;
$mainaccent: #5d5d5d;
$secaccent: #727272;

.Grid {
  height: 100%;
  grid-area: content;
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "skills projects links";
}

.Projects {
  grid-area: projects;
}
.Links {
  grid-area: links;
}
.Skills {
  grid-area: skills;
}

.Information {
  display: flex;
  flex-direction: row;
  height: 15vh;
  .Me {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    .Name {
      font-family: $mainfont;
      color: $maincolor;
      font-size: 3em;
    }
    .Title {
      font-family: $secondaryfont;
      color: $seccolor;
      font-size: 1.4em;
    }
  }
  .Contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    span {
      color: $seccolor;
      font-size: 1.2em;
    }
    p,
    a {
      padding-bottom: 8px;
    }
    a {
      color: $mainaccent;
      text-decoration: none;
    }
    text-align: start;
    color: $mainaccent;
    font-family: $secondaryfont;
    font-size: 1em;
  }
}

.Skills {
  .Category {
    padding-top: 25px;
    padding-left: 25px;
    li {
      border-left: solid 0.5px $maincolor;
      padding: 3px 2.5px;
      font-family: $secondaryfont;
      color: $secaccent;
      font-size: 1em;
    }
    .Header {
      font-family: $mainfont;
      text-decoration: underline;
      color: $mainaccent;
      font-size: 1.2em;
    }
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  .Container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .Project {
      width: 80%;
      margin: 25px 25px;
      border-left: solid 0.5px $maincolor;
      .PrjName {
        font-family: $mainfont;
        text-decoration: underline;
        color: $mainaccent;
        font-size: 1.2em;
        padding: 4px 10px;
      }
      .Description {
        font-family: $secondaryfont;
        color: $secaccent;
        font-size: 1em;
        padding: 4px 10px;
      }
      .Languages {
        color: $secaccent;
        font-family: $secondaryfont;
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .Lang {
          padding: 4px 5px;
          margin: 5px 7px;
          border: solid 2px $maincolor;
          border-radius: 5px;
        }
      }
    }
  }
}

.Links {
  margin: 17px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  .Btn {
    background-color: $seccolor;
    border-radius: 8px;
    color: #ffffff;
    font-family: $secondaryfont;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    padding: 5px 25px;
    margin: 8px 0;
  }
}

.About {
  display: flex;
  flex-direction: row;
  align-items: center;
  .AboutImg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 0 25px;
    .Frame {
      height: 220px;
      width: 150px;
      border: solid 1px $maincolor;
      transform: translate(20px, -20px);
      img {
        display: block;
        height: 220px;
        width: 150px;
        background-color: $secaccent;
        transform: translate(-20px, 20px);
      }
    }
  }
  .AboutText {
    margin: 25px 25px;
    width: 400px;
    h2 {
      font-family: "Galada", cursive;
      text-decoration: underline;
      color: $mainaccent;
      font-size: 1.6em;
    }
    .Intro {
      color: $mainaccent;
    }
    p {
      line-height: 25px;
      font-size: 1.2em;
      color: $secaccent;
      font-family: "Baloo Da 2", cursive;
    }
  }
}

@media (max-width: 550px) {
  .Information .Me {
    padding-top: 25px;
    .Name {
      font-size: 1.6em;
    }
    .Title {
      font-size: 1.1em;
    }
  }
  .Information .Contacts {
    padding-top: 25px;
    font-size: 0.8em;
  }
  .Skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 25px;
  }
  .Grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "skills"
      "projects";
  }
  .About {
    flex-direction: column;
    .AboutImg {
      flex-direction: row;
      flex-grow: 0;
      width: 100%;
      .Frame {
        height: 150px;
        width: 100px;
        img {
          height: 150px;
          width: 100px;
        }
      }
    }
    .AboutText {
      width: auto;
    }
  }
}
