@import "../App.scss";

.Home {
  height: 100%;
  grid-area: content;
  display: grid;
  grid-template-columns: 2fr 7fr 1fr;
  grid-template-rows: 2fr 8fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "info info info"
    "skills projects links";
}

.Information {
  grid-area: info;
}
.Projects {
  grid-area: projects;
}
.Links {
  grid-area: links;
}
.Skills {
  grid-area: skills;
}

.Information {
  display: flex;
  flex-direction: row;
  .Me {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25px;
    .Name {
      font-family: $mainfont;
      color: #4ae444;
      font-size: 3em;
    }
    .Title {
      font-family: $secondaryfont;
      color: #3fc83a;
      font-size: 1.4em;
    }
  }
  .Contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
    span {
      color: #3fc83a;
      font-size: 1.2em;
    }
    p,
    a {
      padding-bottom: 8px;
    }
    a {
      color: #5d5d5d;
      text-decoration: none;
    }
    text-align: start;
    color: #5d5d5d;
    font-family: $secondaryfont;
    font-size: 1em;
  }
}

.Skills {
  .Category {
    padding-top: 25px;
    padding-left: 25px;
    li {
      border-left: solid 0.5px #4ae444;
      padding: 3px 2.5px;
      font-family: $secondaryfont;
      color: #727272;
      font-size: 1em;
    }
    .Header {
      font-family: $mainfont;
      text-decoration: underline;
      color: #5d5d5d;
      font-size: 1.2em;
    }
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  .Container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .Project {
      width: 80%;
      margin: 25px 25px;
      border-left: solid 0.5px #4ae444;
      .PrjName {
        font-family: $mainfont;
        text-decoration: underline;
        color: #5d5d5d;
        font-size: 1.2em;
        padding: 4px 10px;
      }
      .Description {
        font-family: $secondaryfont;
        color: #727272;
        font-size: 1em;
        padding: 4px 10px;
      }
      .Languages {
        color: #727272;
        font-family: $secondaryfont;
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .Lang {
          padding: 4px 5px;
          margin: 5px 7px;
          border: solid 2px #4ae444;
          border-radius: 5px;
        }
      }
    }
  }
}

.Links {
  margin: 17px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  .Btn {
    background-color: #3fc83a;
    border-radius: 8px;
    color: #ffffff;
    font-family: $secondaryfont;
    text-decoration: none;
    text-align: center;
    font-size: 1.1em;
    padding: 5px 25px;
    margin: 8px 0;
  }
}

@media (max-width: 550px) {
  .Information .Me {
    padding-top: 25px;
    .Name {
      font-size: 1.6em;
    }
    .Title {
      font-size: 1.1em;
    }
  }
  .Information .Contacts {
    padding-top: 25px;
    font-size: 0.8em;
  }
  .Skills {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
  }
  .Home {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "info"
      "projects"
      "skills";
  }
}
